In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("cars.db")

In [3]:
c = db.cursor()

In [4]:
## Creating the hyundai table
c.execute('CREATE TABLE hyundai(model text,color text,engine_type text ,fuel_type text,unit_price int)')

In [5]:
## Inserting the data in-to the table
c.execute("INSERT INTO hyundai VALUES ('baleno', 'blue', 'Automatic', 'petrol',700000)")
c.execute("INSERT INTO hyundai VALUES ('ciaz', 'red', 'Automated_Manual_Transmission', 'petrol', 900000)")
c.execute("INSERT INTO hyundai VALUES ('s-cross', 'black', 'Manual', 'petrol', 1100000)")
c.execute("INSERT INTO hyundai VALUES ('xl-6', 'red', 'Manual', 'petrol', 1000000)")
c.execute("INSERT INTO hyundai VALUES ('swift', 'white', 'Automatic', 'diesel', 500000)")

In [6]:
data = c.execute("SELECT * FROM hyundai")
for i in data:
    print(i)

('baleno', 'blue', 'Automatic', 'petrol', 700000)
('ciaz', 'red', 'Automated_Manual_Transmission', 'petrol', 900000)
('s-cross', 'black', 'Manual', 'petrol', 1100000)
('xl-6', 'red', 'Manual', 'petrol', 1000000)
('swift', 'white', 'Automatic', 'diesel', 500000)